name: Run LabVIEWCLI on Linux Container

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  run-labview-cli:
    runs-on: windows-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Pull Docker Image from Docker Hub
        run: docker pull nationalinstruments/labview:2026q1-windows-beta

      - name: Run LabVIEWCLI Operations
        run: |
          docker run --rm ^
            nationalinstruments/labview:2026q1-windows-beta ^
            cmd /c "LabVIEWCLI -OperationName MassCompile -Help -Headless"

