name: Run LabVIEWCLI on Linux Container

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  run-labview-cli:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      # Authenticate to Docker Hub
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ secrets.GHCR_UNAME }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Pull Docker Image from Docker Hub
        run: docker pull ghcr.io/shivacode-2/labview:2025q3-linux

      - name: Run LabVIEWCLI Operations
        run: |
          docker run --rm \
            -v "${{ github.workspace }}:/workspace" \
            ghcr.io/${{ secrets.GHCR_UNAME }}/labview:2025q3-linux \
            bash -c "cd /workspace/integration-into-cicd && chmod +x runlabview.sh && ./runlabview.sh"
